# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/.gradle/
*.apk

# iOS
ios/Pods/
ios/build/
*.ipa

# Env
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
